<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dept.mapper.DeptMapper">
	
	<update id="updateDeptById" parameterType="com.example.model.Dept">
		UPDATE t_sims_dept 
		SET 
			c_name = #{CName, jdbcType=VARCHAR},
			n_xssx = #{NXssx, jdbcType=INTEGER},
			c_xgrid = #{CXgr, jdbcType=VARCHAR},
			d_xgsj = #{DXgsj, jdbcType=TIMESTAMP}
		WHERE
			c_id = #{CId, jdbcType=VARCHAR}
	</update>
	
	<update id="setDeptDisableById" parameterType="com.example.model.Dept">
		UPDATE t_sims_dept 
		SET 
			n_sfyx = #{NSfyx, jdbcType=INTEGER},
			c_xgrid = #{CXgr, jdbcType=VARCHAR},
			d_xgsj = #{DXgsj, jdbcType=TIMESTAMP}
		WHERE
			c_id = #{CId, jdbcType=VARCHAR}
	</update>

	<insert id="addDept" parameterType="com.example.model.Dept">
		INSERT INTO t_sims_dept ( c_id, c_name, n_sfyx, n_xssx, c_pid, c_comid, c_cjrid, d_cjsj )
		VALUES
			(
				#{CId, jdbcType=VARCHAR},
				#{CName, jdbcType=VARCHAR},
				#{NSfyx, jdbcType=INTEGER},
				#{NXssx, jdbcType=INTEGER},
				#{CPid, jdbcType=VARCHAR},
				#{CComId, jdbcType=VARCHAR},
				#{CCjr, jdbcType=VARCHAR},
				#{DCjsj, jdbcType=VARCHAR}
			)
	</insert>
    <select id="getDeptsByComId" parameterType="com.example.model.Com" resultType="com.example.model.Dept">
        SELECT
            c_id AS CId,
            c_name AS CName,
            n_sfyx AS NSfyx,
            n_xssx AS NXssx,
            c_pid AS CPid,
            c_comid AS CComId,
            d_cjsj as DCjsj,
            d_xgsj as DXgsj,
            c_cjrid as CCjr,
            c_xgrid as CXgr,
            n_jb as NJb
        FROM
            t_sims_dept
        WHERE
            c_comid = #{CId, jdbcType=VARCHAR}
    </select>

    <select id="getDeptById" parameterType="com.example.model.Dept" resultType="com.example.model.Dept">
        SELECT
            dept.c_id AS CId,
            dept.c_name AS CName,
            dept.n_sfyx AS NSfyx,
            dept.n_xssx AS NXssx,
            com.c_name AS CComId,
            pdept.c_name AS CPid,
            dept.d_cjsj AS DCjsj,
            dept.d_xgsj AS DXgsj,
            dept.c_cjrid AS CCjr,
            dept.c_xgrid AS CXgr,
            dept.n_jb AS NJb
        FROM
            t_sims_dept AS dept
            LEFT JOIN t_sims_com AS com ON dept.c_comid = com.c_id
            LEFT JOIN t_sims_dept AS pdept ON dept.c_pid = pdept.c_id
        WHERE
            dept.c_id = #{CId, jdbcType=VARCHAR}
    </select>
</mapper>
