<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.organ.mapper.OrganMapper">

   	<select id="getParentComInfo" parameterType="com.example.model.Dept" resultType="com.example.model.Com">
   		SELECT
			com.c_id AS CId,
			com.c_name AS CName 
		FROM
			t_sims_com AS com
			LEFT JOIN t_sims_dept AS dept ON dept.c_comid = com.c_id 
		WHERE
			dept.c_id = #{CId, jdbcType=VARCHAR}
   	</select>
   
    <select id="getDeptByPid" parameterType="com.example.model.Dept" resultType="com.example.model.Dept">
        SELECT
            c_id AS CId,
            c_name AS CName
        FROM
            t_sims_dept
        WHERE
            c_pid = #{CPid, jdbcType=VARCHAR}
            and n_sfyx = 1
        order by n_xssx asc
    </select>

    <select id="getDeptByComid" parameterType="com.example.model.Dept" resultType="com.example.model.Dept">
        SELECT
            c_id AS CId,
            c_name AS CName
        FROM
            t_sims_dept
        WHERE
            c_comid = #{CComId, jdbcType=VARCHAR}
            and c_pid is null
            and n_sfyx = 1
        order by n_xssx asc
    </select>

    <select id="getUserByDeptId" parameterType="com.example.model.User" resultType="com.example.model.User">
        SELECT
            c_id AS CId,
            c_username AS CUserName
        FROM
            t_sims_user
        WHERE
            c_deptid = #{CDeptId, jdbcType=VARCHAR}
            and n_sfyx = 1
        order by n_xssx asc
    </select>

    <select id="getAllCom" resultType="com.example.model.Com">
        SELECT
            c_id AS CId,
            c_name AS CName,
            n_xssx AS NXssx
        FROM
            t_sims_com 
        WHERE 
			n_sfyx = 1 
        ORDER BY
            n_xssx ASC
    </select>
</mapper>
